<section id="4EE" class="slides" data-bg="light">
  {{ range where .Data.Pages "Section" "about-us" }}
    {{ if (eq .Title "purpose") }}
      {{ partial "tab_purpose" .Params }}
    {{ end }}
  {{ end }}
  {{ range where .Data.Pages "Section" "about-us" }}
    {{ if (eq .Title "team") }}
      {{ partial "tab_team" . }}
    {{ end }}
  {{ end }}
  {{ range where .Data.Pages "Section" "about-us" }}
    {{ if (eq .Title "research") }}
      {{ partial "tab_research" .Params }}
    {{ end }}
  {{ end }}
  {{ range where .Data.Pages "Section" "about-us" }}
    {{ if (eq .Title "media") }}
      {{ partial "tab_media" .Params }}
    {{ end }}
  {{ end }}
</section>
