<head>

	<title>{{ .Title }} | Kaldi</title>
	<link rel="stylesheet" href="/css/main.css" />

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="theme-color" content="#fff">

	<!-- Open Graph -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="Kaldi | Great coffee with a conscience">
	<meta property="og:url" content="/">
	<meta property="og:image" content="/img/og-image.jpg">

  <script src="https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js"></script>
</head>
