<nav class="navbar is-fixed-top dark">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      {{/* <img class="white" src="/img/4EE-Logo-Horizontal-White.png" height="25px" width="auto"/> */}}
      <img class="is-mobile normal" src="/img/4EE-Logo-Horizontal-Brown.png" height="25px" width="auto"/>
    </a>

    <a class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

    <div id="navCollapse" class="navbar-menu">
      <div class='navbar-start'></div>
      <div class="navbar-end">
        <a class="navbar-item is-active" href="#Geothermal">Geothermal</a>
        <a class="navbar-item" href="#4EE">4EE</a>
        <a class="navbar-item" href="#Projects">Projects</a>
        <a class="navbar-item" href="#Contact">Contact</a>
      </div>
    </div>
  </div>
</nav>
