<nav class="navbar is-spaced is-fixed-top dark">

    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img class="logo light" src="/img/4EE-Logo-Horizontal-White.png" height="25px" width="auto" alt="Fourth Element Energy"/>
        <img class="logo dark" src="/img/4EE-Logo-Horizontal-Brown.png" height="25px" width="auto" alt="Fourth Element Energy"/>
      </a>

      <a class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navCollapse" class="navbar-menu">
      <div class='navbar-start'></div>
      <div class="navbar-end">
        <a class="navbar-item is-tab" href="#Geothermal"><span>Geothermal</span></a>
        <a class="navbar-item is-tab" href="#4EE"><span>4EE</span></a>
        <a class="navbar-item is-tab" href="#Projects"><span>Projects</span></a>
        <a class="navbar-item is-tab" href="#Contact"><span>Contact</span></a>
      </div>
    </div>


</nav>
