<div id="purpose" data-name="{{ .tab }}">
  <div class="hero is-light is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="content has-text-centered">
              <h2 class="title is-2">{{ if .heading }}{{ .heading }}{{ else }}{{ .tab }}{{ end }} </h2>
              <p>{{ .text }}</p>
              <a class="button is-primary" target="_blank" href="{{ .link }}">Find out more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
