<div id="team" data-name="{{ .Params.tab }}">
  <div class="hero is-white is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="content">
          <h2 class="title is-2 has-text-centered">{{ if (.Params.heading) }}{{ .Params.heading }}{{ else }}{{ .Params.tab }}{{ end }}</h2>
          <div class="columns is-centered">
            <div class="column is-three-quarters-desktop">
              <div class="columns is-vcentered">
                <div class="column is-half">
                  <figure class="image">
                    <img src="{{ .Params.image }}" alt="Our team"/>
                  </figure>
                </div>
                <div class="column is-half">
                  {{ .Content }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
