<section id="purpose" data-name="{{ .tab }}">
  <div class="hero is-light is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="content has-text-centered">
              <h2 class="title is-2">{{ if (.heading) }}{{ .heading }}{{ else }}{{ .tab }}{{ end }}</h2>
            </div>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-two-thirds">
            <div class="media wide_content flex d-flex">
            {{ range .items }}
              <a href="{{ .link }}" target="_blank" class="m-3" style="background: url('{{ .image }}') center center no-repeat; background-size: contain;">
              </a>
            {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
