<div id="purpose" data-name="{{ .tab }}">
  <div class="hero is-light is-fullheight">
    <div class="hero-body">
      <div class="container">

          <h2 class="has-text-centered title is-2">{{ if (.heading) }}{{ .heading }}{{ else }}{{ .tab }}{{ end }}</h2>
          <div class="columns is-centered">
            <div class="column is-three-quarters">
              <div class="columns is-vcentered">
                <div class="column is-half">
                  <figure class="image">
                    <img src="{{ .image }}" alt="Our team"/>
                  </figure>
                </div>
                <div class="column is-half">
                  {{ .description }}
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
